.header {
    background: var(--blue);
}

.wrapper {
    padding: .5rem;
}

.list-group-items {
    list-style: none;
}

.logo-brand {
    margin-bottom: 100px;
}

.logo-brand > h3 {
    font-family: Roboto;
    font-size: 1.5rem;
}
.nav-links {
    transform: translateX(-30px);
    font-family: Roboto;
    font-size: 1.29rem;
}

/* ===================
    Toggle Button
======================= */

.toggle-button {
    width: 3rem;
    background: var(--crystal);
    border: none;
    cursor: pointer;
    display: none;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    margin: 0.3rem 0;
    display: block;
    height: 0.3rem;
    background: var(--white);
}


@media (max-width: 40rem) {
    header {
        display: flex;
        justify-content: space-between;
    }
    .nav-links {
        display: none;
    }

    .toggle-button {
        display: block;
    }
}