.container {
    height: auto;
}

.sign-up-btn {
    position: relative;
    left: 15%;
    right: 15%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}

.sign-up-title {
    font-family: Roboto;
    font-size: 1.5rem;
}

.sign-up-card {
    width: 50%;
}

#bg-pic__main-section {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
    background-repeat: no-repeat;
    background-size: cover;
} 
@media (max-width: 40rem) {
    .sign-up-card {
        width: auto;
        margin: 10px 0;
    }
}