#bg-pic-view-all-rides {
   background: url('../_imgs//vnicecar.jpg');
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: -2;
   opacity: .3;
}

.cards-container .card > div {
     border-radius: 50%;
}
.cards-container .card > div img {
    width: 50%;
    height: auto;
}

.departure {
    color: var(--success);
}

.arival {
    color: var(--danger);
}

.line-rule {
    width: 80%;
}

.modal-card-container {
    font-family: Roboto;
    font-size: 1.1rem;
    width: 60%;
    background: #ccc;
}

.backdrop-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 200;
    display: none;
    }

.modal {
    display: none;
    position: fixed;
    left: 20%;
    right: 25%;
    top: 20%;
    bottom: 25%;
    width: 100vw;
    z-index: 300;
}

.openModal {
    display: block;
}

.openBackdrop {
    display: block;
}