.dashboard-main-wrapper {
    grid-column: 2 / -1;
    background: #ebeff2;
    background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.5)), url('../_imgs/vnicecar.jpg');
}

.sidebar-container > nav > ul li {
    font-family: Roboto;
    font-size: 1.1rem;   
}

.head-container  > .time > p,
.head-container  > .notification > i{
    font-size: 1.2rem;
}


.head-container  > .time {
    font-family: Roboto;
}

.request-card-container {
    width: 60%;
    margin-bottom: 10px;
    background: #fff;
}

.grid-column-4 {
   grid-template-columns: 1fr 40% 30% 15%;
}

.sidebar {
    grid-column: 1 / 1;
    background: #ebeff2;
}

.dashboard-current {
    background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.3));
    border-left: 5px solid var(--lightblue);
}

.sidebar-nav-links > ul {
    padding: 0;
}

@media (max-width: 40rem) {
    .sidebar {
        display: none;
    }
    .dashboard-main-wrapper {
        grid-column: 1 / -1;
    }
    .request-card-container {
        width: 90%;
    }
}