.info-card {
    background: #fff;
    margin: 0 10px;
}

.info-card-container {
    margin: 0 10px;
}

.bg-none {
    background: #fff;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
    background: #fff;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.dashboard-grid-row-3 {
    display: grid;
    grid-template-rows: 2rem, 10rem, auto;
    grid-gap: 50px;
}

.list-rides {
    margin: 20px;
}

.list-rides h1 {
    color: #fff;
}