.show-map {
    border: 1px solid #ccc;
    /* margin-left: 10px; */
    width: 100%;
    height: auto;
    
}
.main-container {
    position: relative;
}

#map {
    width: 100%;
    height: 669px;
}

form .second {
    display: none;
}

.form-ride {
    width: 100%;
}
.grid-col-sm {
    grid-column: 1 / 2;
}

.grid-col-lg{
    grid-column: 1 / -1;
}

.add-ride-form {
    position: absolute;
    z-index: 999;
    background: #fff;
    top: 50px;
    left: 20px;
    width: 25%;
    /* max-width: 30%; */
}

.next-btn, .previous-btn {
    background-color: #6f6ff3;
    color: #fff;
    width: 70px;
}
.share-ride-btn {
    position: relative;
    top: 0;
    box-shadow: 2px 4px 2px var(--skyblue);
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 1.2rem;
}
.share-ride-btn:hover,
.share-ride-btn:focus {
    top: 1px;
    box-shadow: 1px 2px 1px var(--skyblue);
    background-color: #2121df;
}

.share-ride-btn:active {
    top: 2px;
    box-shadow: 1px 1px 2px var(--skyblue);
    background-color: #080847;
}

label > span {
    color: var(--danger);
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 4;
    border: 1px solid #ccc;
    background-color: var(--white);
}

.dropdown-li:hover .dropdown {
    display: block;
}

.dropdown ul li {
    padding: .5rem;
    cursor: pointer;
}

.dropdown ul li:hover {
    background-color: #ccc;
}

@media (max-width: 40rem) {
    .add-ride-form {
        display: none;
    }
    .grid-col-lg {
        grid-column: 1 / -1;
        margin: 0;
    }
    .modal-create-ride-form {
        display: block;
        position: fixed;
        z-index: 300;
        left: 5%;
        right: 5%;
        color: #333;
        padding: 30px;
        width: 90%;
        height: 450px;
        overflow-y: scroll;
    }
    #create-ride {
        cursor: pointer;
    }
    #map {
        width: 100%;
        height: 625px;
        
    }
}


@media (max-width: 1024px) {
    .add-ride-form {
        min-width: 40%;
    }
}