.main-wrapper-container {
    overflow-y: auto;
    height: 300px;
}
.dashbord-nav {
    transform: translateX(-100px);
}
.sidebar-container {
    height: 640px;
}

.info-card-container {
    margin: 0 10px;
}

.bg-none {
    background: #fff;
}

table {
    font-family: arial, sans-serif;
    width: 98%;
    background: #fff;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

td, th {
    border: 1px solid #fff;
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid #dddddd;
}

table tr > th {
    background: #6c7ae0;
    color: #fff;
    border: 1px solid #6c7ae0;
}

tr:nth-child(even) {
    background-color: #ebeff2;
}

.dashboard-grid-row-3 {
    display: grid;
    grid-template-rows: 2rem, 10rem, auto;
}

.history-btn {
    background-color: #ebeff2;
}
.list-rides {
    margin: 20px;
}

.list-rides h1 {
    color: #fff;
}
/* 
@media (max-width: 40rem) {
    .info-card {
        margin: 10px 0;
    }
} */