.cards-container .card > div {
     border-radius: 50%;
}

.card-content > .span {
    float: right;
    cursor: pointer;
    font-size: 1.3rem;
}
.departure {
    color: var(--success);
}

.Destination {
    color: var(--danger);
}

.line-rule {
    width: 80%;
}

.cards-container {
    overflow-y: auto;
    height: 395px;
}

.card-all-rides {
    background: #fff;
}

.d-all-avail-ride-container {
    height: 600px;
}

.driver-name {
    text-transform: capitalize;
}
.modal-card-container {
    font-family: Roboto;
    font-size: .7rem;
    width: 40%;
    background: #ccc;
    height: 20%;
}

.backdrop-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 200;
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.3)), url('../imgs/vnicecar.jpg');
}

.modal {
    /* display: none; */
    position: fixed;
    left: 20%;
    right: 25%;
    top: 40px;
    width: 100vw;
    z-index: 300;
    opacity: 0;
    visibility: hidden;
}

.openModal {
    opacity: 1;
    visibility: visible;
    
}

.openBackdrop {
    display: block;
}

@media (max-width: 40rem) {
    .modal {
        left: 5%;
        right: 5%;
        top: 15px;
    }
    .modal-card-container {
        width: 90%;
    }
    .quick-search-form {
        display: flex;
        flex-direction: column;
    }
    .cards-container {
        overflow-y: auto;
        height: 200px;
    }

    .line-rule {
        width: 50%;
    }
}